
@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}


@mixin horizontal-list{

    @include reset-list;
    
    li{
        display: inline-block;
        margin{
            left: -2px;
            right: 2em;
        }
    }
}



@mixin rtl($property, $ltr-value, $rtl-value)
{
    #{$property}: $ltr-value;
    #{$property}: $rtl-value;
}